<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
   	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<!-- 定义ReDelivery(重发机制)机制 ，重发时间间隔是100毫秒，最大重发次数是3次 -->
    <bean id="activeMQRedeliveryPolicy" class="org.apache.activemq.RedeliveryPolicy">
        <!--是否在每次尝试重新发送失败后,增长这个等待时间 -->
        <property name="useExponentialBackOff" value="true"/>
        <!--重发次数,默认为6次-->
        <property name="maximumRedeliveries" value="3"/>
        <!--重发时间间隔,默认为1秒 -->
        <property name="initialRedeliveryDelay" value="1000"/>
        <!--第一次失败后重新发送之前等待500毫秒,第二次失败再等待500 * 2毫秒,这里的2就是value -->
        <property name="backOffMultiplier" value="2"/>
        <!--最大传送延迟，只在useExponentialBackOff为true时有效（V5.5），假设首次重连间隔为10ms，倍数为2，那么第二次重连时间间隔为 20ms，
        第三次重连时间间隔为40ms，当重连时间间隔大的最大重连时间间隔时，以后每次重连时间间隔都为最大重连时间间隔。 -->
        <property name="maximumRedeliveryDelay" value="1000"/>
    </bean>
    


	<!-- 配置JMS连接工厂 -->
	<!-- 采用TCP长连接方式, 避免每次建立短连接需要的额外工作时间 -->
	<bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="maxConnections" value="10" />
		<property name="expiryTimeout" value="3600000" />
		<property name="connectionFactory">
			<bean class="org.apache.activemq.spring.ActiveMQConnectionFactory">
				<property name="brokerURL">
					<value>${jms.broker.url}</value>
				</property>
				<property name="useCompression" value="true" />
				<property name="useAsyncSend" value="false" />
				<property name="userName" value="${jms.username}" />
				<property name="password" value="${jms.password}" />
				<property name="copyMessageOnSend" value="false" />
				<property name="alwaysSessionAsync" value="true" />
				<!-- 引用重发机制 -->
                <property name="redeliveryPolicy" ref="activeMQRedeliveryPolicy" />
			</bean>
		</property>
	</bean>

	<!-- queue start 点对点 -->
	<bean id="txnQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="${jms.queue.txnQueue}" />
	</bean>


	<bean id="txnTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg index="0" value="${jms.topic.txnTopic}" />
	</bean>
	
	
  <!--应答模式是 INDIVIDUAL_ACKNOWLEDGE-->
        <!--AUTO_ACKNOWLEDGE = 1    自动确认
        CLIENT_ACKNOWLEDGE = 2    客户端手动确认
        DUPS_OK_ACKNOWLEDGE = 3    自动批量确认
        SESSION_TRANSACTED = 0    事务提交并确认
        INDIVIDUAL_ACKNOWLEDGE = 4    单条消息确认-->
        
        

	<!-- server的配置 -->
	<!-- 1持久化订阅发布 -->
		<bean id="txnListenerContainer"
		class="com.activemq.jms.server.ServerMsgListenerContainer">
		<!-- 同时启动 concurrentConsumers(如10) 个Listener 实例来并发消费消息 -->
		<property name="concurrentConsumers" value="${jms.minListener}" />
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="messageListener" ref="servertxnListener" />
		<property name="localSystem" value="${jms.localsystem}"/>
		
		<property name="destination" ref="txnTopic" />
		<!-- 发布订阅模式  --> 
        <property name="pubSubDomain" value="true" />  
		 <!-- 消息持久化值设置为true   -->
        <property name="subscriptionDurable" value="true" />  
         <!-- 接收者ID 持久化注册到mq,消费者端唯一标识  --> 
        <property name="clientId" value="clientId_001" />  
        <property name="durableSubscriptionName" value="clientId_001" />  
       	<property name="sessionAcknowledgeMode" value="2"/>
        
	</bean> 
	
	
	<!-- 2非持久化订阅发布类似广播 -->
	<!-- 	<bean id="txnListenerContainer"
		class="com.activemq.jms.server.ServerMsgListenerContainer">
		<property name="concurrentConsumers" value="${jms.minListener}" />
		<property name="connectionFactory" ref="connectionFactory" />
		
		<property name="destination" ref="txnTopic" />
		<property name="messageListener" ref="servertxnListener" />
		<property name="localSystem" value="${jms.localsystem}"/>
	</bean> -->
	
	
	<!--3 持久化点对点模式 -->
	<!-- <bean id="txnListenerContainer"
		class="com.activemq.jms.server.ServerMsgListenerContainer">
		<property name="concurrentConsumers" value="${jms.minListener}" />
		<property name="maxConcurrentConsumers" value="${jms.maxListener}" />
		<property name="connectionFactory" ref="connectionFactory" />
		
		<property name="destination" ref="txnQueue" />点对点模式下 设置消费者上限，mq服务端根据队列消息量来动态控制消费者的数量并发的消费，一条消息只被消费一次默认情况下被消费时没有顺序
		<property name="messageListener" ref="servertxnListener" />
		<property name="localSystem" value="${jms.localsystem}"/>
		 <property name="sessionAcknowledgeMode" value="2"/>
	</bean> -->
	
	
	
	

	<!--消息监听  从监听的队列中拉取消息-->
	<bean id="servertxnListener" class="com.activemq.jms.server.ServerTxnListener">
		
	</bean>


</beans>
